body {
  background-color: #f2f8ef !important;
}

.pointer {
  cursor: pointer !important;
}

.box {
  width: 100%;
}

#owl-demo .item {
  margin: 3px;
}

#owl-demo .owl-stage-outer {
  height: 100%;
}

#owl-demo .item img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: cover;
  /* height: 100%; */
}

.navbar {
  background-color: #52796f;
}

.navbar-custom-btn {
  color: #52796f;
  background-color: #f2f8ef;
}

.navbar-logo-box {
  width: 160px;
}

.navbar-nav {
  gap: 15px;
}

.br-text {
  display: none;
}

.footer-box {
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  transition: 0.2s all;
  background-color: #52796f;
  justify-content: space-between;
}

.footer-box.active {
  height: 0;
}

.footer-box .open-icon {
  left: 50%;
  top: -35px;
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 50%;
  transition: 0.5s all;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 0);
}

.footer-box .open-icon.active {
  top: -35px;
}

.saidbar-item {
  width: 100%;
  height: 50px;
  color: #f2f8ef;
  text-align: center;
  border-radius: 10px;
  outline: none !important;
  font-size: 22px !important;
  box-shadow: none !important;
  background-color: #52796f;
}

.main {
  height: 100vh;
}

.main-karusel-box {
  width: 100%;
  height: 320px;
}

.main-text-box {
  width: 100%;
  color: #52796f;
  text-align: center;
}

.main-banner-box {
  width: 100%;
  height: 320px;
}

.profile-box-title,
.profile-box-description,
.profile-get-box-title,
.profile-get-box-description {
  color: #52796f;
}

/* .profile-get-karousel-box {
  height: 400px;
} */

.profile-get-btn {
  text-decoration: none;
  background-color: #52796f;
}
#city-hover:hover #city-menu-hover,
#country-hover:hover #country-menu-hover {
  top: 0px !important;
  left: 0px !important;
  margin-top: 0 !important;
  display: block !important;
  position: absolute !important;
  will-change: transform !important;
  transform: translate3d(-180px, 0px, 0px) !important;
}

#city-hover:hover #city-menu-hover {
  transform: translate3d(-150px, 0px, 0px) !important;
}

.image-container {
  min-width: 370px;
  max-width: 370px;
  height: 220px;
  border: 2px solid #52796f;
}

.grid-template-5 {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.calendar-box-width {
  width: 370px;
  min-width: 370px;
}

@media (max-width: 1200px) {
  .grid-template-5 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .grid-template-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-template-5 {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .icons-box img {
    width: 30px;
    height: 30px;
  }

  footer .chat-box img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .main-karusel-box,
  .main-banner-box {
    height: 200px;
  }

  .main {
    height: 80vh;
  }

  .br-text {
    display: block;
  }

  .footer-box {
    height: 70px;
  }

  .main-text-box h2 {
    font-size: 24px;
  }

  .main-text-box h5 {
    font-size: 18px;
  }

  .grid-template-5 {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-container {
    min-width: 100%;
    max-width: 100%;
  }

  .calendar-box-width {
    width: 100%;
    min-width: 100%;
  }

  #city-hover:hover #city-menu-hover,
  #country-hover:hover #country-menu-hover {
    transform: translate3d(-120px, 0px, 0px) !important;
  }

  #city-hover:hover #city-menu-hover {
    transform: translate3d(100px, 0, 0px) !important;
  }
}
