{% extends 'base.html' %}
{% block title %}
Admin Page
{% endblock %}
{% block content %}
<section class="box">
    <div class="container-fluid">
        <div class="row d-flex flex-wrap">
            <div class="col-lg-3 col-12 saidbar ml-lg-0 ml-0 mt-lg-5 mt-2">
                
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_client_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Client
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_employee_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Employee
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_slider_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Slider
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_banner_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Banner
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_category_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Category
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_profile_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Profile
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_respublika_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Respublika
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_viloyat_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Viloyat
                    </a>
                </div>
                <div class="btn-group dropright saidbar-item mt-1">
                    <a href="{{ url_for('admin_tuman_list_page') }}" type="button" class="saidbar-item text-white btn">
                        Tuman
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}