{% extends 'base.html' %}
{% block title %}
Tantana
{% endblock %}
{% block content %}
<section class="box">
    <div class="container-fluid">
        <div class="row d-flex align-items-start flex-wrap">
            <div class="col-lg-3 col-12 d-none d-lg-block saidbar mt-4" data-category="category">
                {% for category in category_list %}
                <div class="btn-group dropright saidbar-item mb-1">
                    <a href="{{ url_for('profile_list_page', id=category.id) }}" type="button"
                        class="saidbar-item text-white btn" data-toggle="tooltip" data-placement="right"
                        title="{{ category.description }}">
                        {{ category.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-9 col-12 main mt-4">

                <div class="main-banner-box" style="border: 2px solid #52796F; padding: 3px;">
                    <a href="{{ banner.url }}">
                        <video width="100%" height="100%" style="object-fit: cover;" 
                        src="{{ url_for('static', filename=banner.image) }}"  autoplay muted loop playsinline>
                        </video>
                    </a>
                </div>
                <div class="main-text-box mt-2 mb-3">
                    <h2>Тадбирларингизни <br class="br-text"> Биз Билан Осон Режалаштиринг!</h2>
                    <h5>бепул эълон жойлаштириб, воситачисиз ва хавфсиз келишиб олинг</h5>
                </div>
                <div class="main-karusel-box">
                    <div id="carouselExampleControls" data-interval="2000" style="border: 2px solid #52796F; padding: 3px;" class="carousel slide w-100 h-100"
                        data-ride="carousel">
                        <div class="carousel-inner w-100 h-100">
                            {% for slider in slider_list %}
                            {% if s_count == slider.id %}
                            <div class="carousel-item h-100 active">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="1 slide">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="2 slide">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="3 slide">
                            </div>
                            {% else %}
                            <div class="carousel-item h-100">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="1 slide">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="2 slide">
                                <img class="d-block mx-auto w-100 h-100" style="object-fit: cover;" src="{{ url_for('static', filename=slider.image) }}"
                                    width="100%" alt="3 slide">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}